body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: url("images/bg3.jpg") no-repeat center center;
    background-size: cover; /* image covers full screen */
    position: relative;
}

#nextBtn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 26px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    background-color: #001f5b;
    color: #fff;
    cursor: pointer;
}

#nextBtn:active {
    opacity: 0.8;
}
